body {
    font-family: 'Roboto', 'sans serif'
}

div {
    font-family: 'Roboto', 'sans serif';
    font-weight: 300;
    font-size: 1.5rem;
}

span {
    font-size: 2.5rem;
}

h1 {
    font-weight: 900;
    font-size: 5rem;
}

h5 {
    font-weight: 300;
    font-size: 1.5rem;
}

p {
    font-weight: 300;
    font-size: 1rem;

}

li {
    font-weight: 300;
}

a {
    font-family: 'Roboto', 'sans serif';
    font-size: 2rem;
}

.nav-bar {
    font-weight: 300;
    padding: 2rem 2rem 0 0;
    color: white;
}

.landing {
    position: relative;
    background: url('../images/header-img.png') no-repeat center center/cover;
    height: 100vh;
}

.header-logo {
    padding-left: 1rem;
}

.header-text-box {
    padding-top: 7rem;
}

.header-text {
    color: white;
}

.body {
    color: #575555;
}

.section-one {
    background: rgb(162, 81, 7);
    background: linear-gradient(90deg, rgba(162, 81, 7, 1) 0%, rgba(105, 40, 3, 1) 100%);
    border-radius: 15px;
    color: white;
}

.education-two {
    font-weight: 300;
}

.section-two {
    background: rgb(161, 135, 56);
    background: linear-gradient(90deg, rgba(161, 135, 56, 1) 0%, rgba(104, 79, 26, 1) 100%);
    border-radius: 15px;
    color: white;
}

.section-three {
    background: rgb(104, 121, 126);
    background: linear-gradient(90deg, rgba(104, 121, 126, 1) 0%, rgba(55, 68, 72, 1) 100%);
    border-radius: 15px;
    color: white;
}

.section-four {
    background: rgb(144, 142, 142);
    background: linear-gradient(90deg, rgba(144, 142, 142, 1) 0%, rgba(87, 85, 85, 1) 100%);
    border-radius: 15px;
    color: white;
}

.section-five {
    background: rgb(83, 80, 80);
    background: linear-gradient(90deg, rgba(83, 80, 80, 1) 0%, rgba(41, 40, 40, 1) 100%);
    border-radius: 15px;
    color: white;
}

.section-six {
    background: rgb(46, 45, 45);
    background: linear-gradient(90deg, rgba(46, 45, 45, 1) 0%, rgba(0, 0, 0, 1) 64%);
    border-radius: 15px;
    color: white;
}

.heavier-font {
    font-weight: 500;
}